.button {
  cursor: pointer;
  max-width: 330px;
  text-align: center;
  padding: 10px 24px;
  margin-bottom: 16px;
  border-radius: 100px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  font: normal 14px/20px var(--font-family-bold);
  transition: background-color .3s, border-color .3s;

  &-primary {
    color: var(--primary-button-text-color);
    background: var(--primary-button-background);
    border: 2px solid var(--primary-button-border-color);

    &:hover, &:active {
      color: var(--primary-button-text-color-hover);
      background: var(--primary-button-background-hover);
      border-color: var(--primary-button-border-color-hover);
    }
  }

  &-primary-inverted {
    color: var(--primary-button-text-color-hover);
    background: var(--primary-button-background-hover);
    border: 2px solid var(--primary-button-border-color-hover);

    &:hover, &:active {
      color: var(--primary-button-text-color);
      background: var(--primary-button-background);
      border-color: var(--primary-button-border-color);
    }
  }

  &-link {
    color: var(--link-button-text-color);
    background: var(--link-button-background);
    border: 2px solid var(--link-button-border-color);

    &:hover, &:active {
      color: var(--link-button-text-color-hover);
      background: var(--link-button-background-hover);
      border-color: var(--link-button-border-color-hover);
    }
  }
}
