.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: var(--footer-height);
  overflow-y: auto;
  padding: var(--gap) var(--gap) 0;
  background-color: var(--white);

  .button {
    width: 100%;
  }
}

.buttons-list {
  @include flexCenter();
  flex-direction: column;
}

#vendorPreferences {
  margin-bottom: 0;
  max-width: 330px;
  width: 100%;
}
