.footer {
  position: sticky;
  left: 0;
  right: 0;
  bottom: -1px;
  overflow-y: auto;
  padding: var(--gap) var(--gap) 0;
  background-color: var(--white);

  .button {
    width: 100%;
    @include mediaLandscape {
      margin: 0 calc(var(--gap) / 2) calc(var(--gap) * 2);
    }
  }
}

.buttons-list {
  @include flexCenter();
  flex-direction: column;
  @include mediaLandscape {
    flex-direction: row-reverse;
  }
}

#vendorPreferences {
  margin-bottom: 0;
  max-width: 330px;
  width: 100%;
}
