.preferences {
  margin: var(--gap) 0;
}

.preferences__item {
  --gap: 14px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: var(--gap);
  color: var(--gray-medium);
  margin-bottom: var(--gap);

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  p {
    color: var(--gray-light);
    margin: 0 0 var(--gap) 0;
  }

  h4 {
    margin: 0;
    font-family: var(--font-family-regular);
    color: var(--gray-light);
  }

  ul {
    padding-left: var(--gap);
    margin: calc(var(--gap) / 4) 0;
    color: var(--gray-light);

    & + .preferences__list-link {
      margin-top: var(--gap);
    }
  }

  hr {
    border-color: var(--link-separator);
    margin: var(--gap) 0;
    border-bottom: 0;
  }
}

.preferences__illustrations-accordion {
  margin-bottom: 0;
  font: var(--font-size)/var(--line-height) var(--font-family-regular);
  color: var(--gray-light);

  p:not(:last-of-type) {
    margin-bottom: var(--gap);
  }

  & > summary {
    margin-bottom: var(--gap);
    cursor: pointer;

    &:hover {
      background-color: var(--gray);
      border-radius: 24px;
      padding-right: var(--gap);
    }
  }

  summary:before {
    min-width: 24px;
    @include square(24px);
    margin-right: calc(var(--gap) / 3);
  }
}

.preferences__title {
  @include flex(center, space-between);
}

.preferences__list-link {
  text-align: left;
  margin: calc(-1 * (var(--gap) / 2)) 0 calc(var(--gap) / 2) calc((-1 * (var(--gap) / 2)) - 2px);
  font-size: 0;

  .preferences__link {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      position: relative;
      display: inline-block;
      width: 1px;
      height: 15px;
      background-color: var(--link-separator);
      margin: 0;
    }
  }
}

.preferences__link {
  position: relative;
  font: var(--font-size)/calc(var(--font-size) * 2) var(--font-family-regular);
  color: var(--link-text-color);
  letter-spacing: .15px;
  cursor: pointer;

  & > span {
    padding: 8px 10px;
    border-radius: 35px;
    display: flex;
    align-items: center;
  }

  &:hover {
    text-decoration: none;

    & > span {
      background-color: var(--link-button-background-hover);
    }
  }

  .icn {
    margin-left: calc(var(--gap) / 4);
  }
}

.preferences__categories {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: var(--gap);
  white-space: nowrap;
  color: var(--gray-light);

  .preferences__link span {
    padding: 0 8px;
  }
}

.preferences__categories-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  margin-left: calc(var(--gap) / 4);
}
