@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin inlineFlex($aitems, $jcontent) {
  display: inline-flex;
  align-items: $aitems;
  justify-content: $jcontent;
}

@mixin flex($aitems, $jcontent) {
  display: flex;
  align-items: $aitems;
  justify-content: $jcontent;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absoluteCenter {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin fixedCenter {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

@mixin fullBlockFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin animateOpacity($opacity, $visibility) {
  opacity: $opacity;
  visibility: $visibility;
  transition: opacity .3s .2s, visibility .3s;
}


// @media
@mixin mediaPortrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin mediaLandscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin mediaMax1199 {
  @media all and (max-width: 1199px) {
    @content;
  }
}

@mixin schemaLight {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin schemaDark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
