<!DOCTYPE html>
<html lang="en">
<head>
    <%= htmlWebpackPlugin.options.rubyInjectVendorCode %>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover, height=device-height"
    />
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="show">
    <div class="screen__list">
        <div class="screen screen--one show">
            <div class="main">
                <div class="logo">
                    <img src="" alt="" />
                    <h2></h2>
                </div>
                <div class="content">
                    <div class="content__list">
                        <div class="content__item">
                            <div class="icn icn-user"></div>
                            <h4>Personalised advertising, audience research and service development</h4>
                        </div>
                        <div class="content__item">
                            <div class="icn icn-content"></div>
                            <h4>Personalised content, advertising and content measurement</h4>
                        </div>
                        <div class="content__item">
                            <div class="icn icn-device"></div>
                            <h4>Store and/or access information on a device</h4>
                        </div>
                    </div>

                    <div class="collapsable">
                        <div class="collapsable-title">
                            <i class="icn icn-arrow"></i>
                            <h4>Learn more</h4>
                        </div>
                        <div class="collapsable-body">
                            <div class="help-block">
                                <div class="help-block__item">
                                    <div class="help-block__link dialog--open">How can I change my choice?</div>
                                    <div style="display: none">
                                        <h4 class="dialog__title">How can I change my choice?</h4>
                                        <div class="dialog__content">
                                            <span class="dialog__txt">Change your choice at any time. View our privacy policy to learn more.</span>
                                            <div class="dialog__btn--with-icn preferences__list-link">
                                                <a href="https://appodeal.com/privacy-policy/" target="_blank" class="preferences__link">
                                                    <span>Privacy policy<i class="icn icn-privacy-policy"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block__item">
                                    <div class="help-block__link dialog--open">What if I don't consent?</div>
                                    <div style="display: none">
                                        <h4 class="dialog__title">What if I don't consent?</h4>
                                        <div class="dialog__content">Your personal data won't be used for the above, unless we and our vendors determine that we have a legitimate interest to do so.</div>
                                    </div>
                                </div>
                                <div class="help-block__item">
                                    <div class="help-block__link dialog--open">How does legitimate interest work?</div>
                                    <div style="display: none">
                                        <h4 class="dialog__title">How does legitimate interest work?</h4>
                                        <div class="dialog__content">
                                            <span class="dialog__txt">Some vendors are not asking for your consent, but are using your personal data on the basis of their legitimate interest. To turn this off, click "Manage options".</span>
                                            <div class="dialog__btn--with-icn preferences__list-link">
                                                <a href="https://gdpr.eu/recital-47-overriding-legitimate-interest/" target="_blank" class="preferences__link">
                                                    <span>Learn more<i class="icn icn-privacy-policy"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block__item">
                                    <div class="help-block__link dialog--open">Do I have to consent to everything?</div>
                                    <div style="display: none">
                                        <h4 class="dialog__title">Do I have to consent to everything?</h4>
                                        <div class="dialog__content">
                                            <span class="dialog__txt">No. You can change how your personal data is used and who uses it by clicking "Manage options".</span>
                                            <span class="dialog__txt">To collect and use data, vendors can:</span>
                                            <ul class="dialog__list">
                                                <li>Match and combine data from other data sources</li>
                                                <li>Link different devices</li>
                                                <li>Identify devices based on information transmitted automatically</li>
                                            </ul>
                                            <br />
                                            <span class="dialog__txt">Collecting and using the following data will require your consent, unless it's collected to ensure security, prevent fraud, or debug:</span>
                                            <ul class="dialog__list"><li>Use precise geolocation data</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content__txt">
                        Your personal data will be processed and information from your device (cookies, unique identifiers,
                        and other device data) may be stored by, accessed by and shared with
                        <div class="dialog--open dialog__link vendors-count-info"></div>
                        <div style="display: none">
                            <h4 class="dialog__title">What third party vendors can access my data?</h4>
                            <span class="dialog__txt">The following third party vendors can use your data to provide services:</span>
                            <ul class="dialog__list" id="allVendors"></ul>
                        </div>, or used specifically by this site or app.
                    </div>
                    <p> Some vendors may process your personal data on the basis of legitimate interest,
                        which you can object to by managing your options below. Look for a Privacy Settings
                        in Apps Main Menu or in our privacy policy where you can withdraw consent.</p>
                </div>
            </div>

            <div class="footer">
                <div class="buttons-list">
                    <button id="consentBtn" type="button" class="button button-primary">Consent</button>
                    <button id="doNotConsentBtn" type="button" class="button button-primary">Do not consent</button>
                    <button id="manageOptions" type="button" class="button button-link">Manage Options</button>
                </div>
            </div>
        </div>
        <div class="screen screen--two">
            <div class="main">
                <div class="back-block">
                    <div class="back-block__wrap backScreen">
                        <i class="icn icn-back"></i>
                        <span>Data preferences</span>
                    </div>
                </div>

                <div class="logo">
                    <img src="" alt=""/>
                    <h2>Manage your data</h2>
                </div>
                <div class="content">
                    <p>You can choose how your personal data is used. Vendors want your permission to do the following:</p>

                    <div class="content__separate-label">
                        <div class="content__separate-label_txt">
                            <p>Purposes</p>
                        </div>
                    </div>
                    <div class="preferences purposeList"></div>


                    <div class="content__separate-label">
                        <div class="content__separate-label_txt">
                            <p>Special purposes</p>
                        </div>
                    </div>
                    <div class="preferences specialPurposeList"></div>


                    <div class="content__separate-label">
                        <div class="content__separate-label_txt">
                            <p>Features</p>
                        </div>
                    </div>
                    <div class="preferences featuresList"></div>


                    <div class="content__separate-label">
                        <div class="content__separate-label_txt">
                            <p>Special feature</p>
                            <div class="icn dialog--open icn-help"></div>
                            <div style="display: none">
                                <h4 class="dialog__title">How does legitimate interest work?</h4>
                                <div class="dialog__content">Some vendors are not asking for you consent, but are using personal data on the basis of their legitimate interest.</div>
                            </div>
                        </div>
                        <p>You can choose your data preferences. This site or app wants your permission to do the following:</p>
                    </div>
                    <div class="preferences specialFeaturesList"></div>


                    <div class="buttons-list">
                        <button id="vendorPreferences" type="button" class="button button-link">Vendor preferences</button>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="buttons-list">
                    <button id="requestStatus" type="button" class="button button-primary confirmChoices">Confirm Choices</button>
                    <button id="updValue" type="button" class="button button-primary acceptAll">Accept all</button>
                </div>
            </div>
        </div>
        <div class="screen screen--three">
            <div class="main">
                <div class="back-block">
                    <div class="back-block__wrap backScreen">
                        <i class="icn icn-back"></i>
                        <span>Vendor preferences</span>
                    </div>
                </div>

                <div class="logo">
                    <h2>Confirm our vendors</h2>
                </div>
                <div class="content">
                    <p>Vendors can use your data to provide services. Declining a vendor can stop them from using the data you shared.</p>

                    <div class="content__accordion-label">
                        <div class="content__accordion-label_header">
                            <p class="content__accordion-label_txt">TCF Vendors</p>
                            <div class="icn icn-help dialog--open"></div>
                            <div style="display: none">
                                <h4 class="dialog__title">How does legitimate interest work?</h4>
                                <div class="dialog__content">Some vendors are not asking for you consent, but are using personal data on the basis of their legitimate interest.</div>
                            </div>
                        </div>
                        <div class="content__accordion-label_content">
                            <p>You can choose your data preferences. This site or app wants your permission to do the following:</p>
                            <div class="preferences vendorList"></div>
                        </div>
                    </div>

                    <div class="content__accordion-label">
                        <div class="content__accordion-label_header">
                            <p class="content__accordion-label_txt">Ad partners</p>
                        </div>
                        <div class="content__accordion-label_content">
                            <div class="preferences vendorListAdPartner"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="buttons-list">
                    <button type="button" class="button button-primary confirmChoices">Confirm Choices</button>
                    <button type="button" class="button button-primary acceptAll">Accept all</button>
                </div>
            </div>
        </div>
    </div>

    <dialog class="dialog dialog-storage">
        <h2 class="dialog__title">Storage Details</h2>
        <div class="dialog__content dialog__content--storage"></div>
        <div class="dialog__footer">
            <button class="button button-primary-inverted dialog__btn storage-dialog-close-btn">Close</button>
        </div>
    </dialog>
    <dialog class="dialog dialog-info">
        <div class="dialog__content"></div>
        <div class="dialog__footer">
            <button class="button button-primary-inverted dialog__btn dialog__btn--close">Close</button>
        </div>
    </dialog>
</body>
</html>
